.keypad {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.keypad-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
}

.keypad button {
  padding: 1.2rem;
}